# Dependencies
node_modules
.pnpm-store

# Build output
.next
out
dist

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Logs
*.log

# Environment files
.env
.env.local
.env.*.local

# Misc
.DS_Store
*.min.js
*.min.css
